<!DOCTYPE html>
<html lang="pt-br">

	<head>
	  <title>Quicktrip</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		
	  <%= csrf_meta_tags %>
	  <meta name="description" content="">
	  <meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Prelang: Analytics / Google Analytics -->
		    <%= analytics_init if Rails.env.production? or Rails.env.development? %>
	  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	  <style type="text/css">
	  	iframe > .content-wrapper{
	  		background-color: #f6f6f6;
	  	}
	  </style>
	</head>
	
	<body>
		<%#= render partial: "elements/navbar" %>
		<%= bootstrap_flash %>


	  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	  <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	  <![endif]-->


		<%= yield %>

	  <!-- Footer -->
	  <footer style="text-align: center;">
      <h4><strong>Endereço</strong>
      </h4>
      <p>Rua José Rosário, 1010<br>Ribeirão Preto, SP, 14096-200</p>
      <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> +55 16 99287-9696</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:contato@quicktrip.com.br">contato@quicktrip.com.br</a>
          </li>
      </ul>
      <br>
      <ul class="list-inline">
          <li>
              <a href="https://www.facebook.com/quicktripbr/?ref=hl"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
      </ul>
      <hr class="small">
      <p class="text-muted">Copyright &copy; Quicktrip 2016</p>
	  </footer>

	  <!-- Custom Theme JavaScript -->
	  <script>
	  // Closes the sidebar menu
	  $("#menu-close").click(function(e) {
	      e.preventDefault();
	      $("#sidebar-wrapper").toggleClass("active");
	  });

	  // Opens the sidebar menu
	  $("#menu-toggle").click(function(e) {
	      e.preventDefault();
	      $("#sidebar-wrapper").toggleClass("active");
	  });

	  // Scrolls to the selected menu item on the page
	  $(function() {
	      $('a.scrollpage').click(function() {
	          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

	              var target = $(this.hash);
	              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	              if (target.length) {
	                  $('html,body').animate({
	                      scrollTop: target.offset().top
	                  }, 1000);
	                  return false;
	              }
	          }
	      });
	  });
	  </script>


	</body>
</html>
